.error-box {
    display: block;
    background-color: red;
    color: white;
  }
  
.success-box {
    display: block;
    background-color: forestgreen;
    color: white;
  }

/* change this later */
 .payment-field { 
    display: inline-block;
    width: 150px;
    background: rgb(240, 240, 240);
    padding: 5px;
    margin-bottom: 5px
 }

  #payment-field-input {
    margin-bottom: 20px;
 }
